@import 'tailwindcss';

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('/fonts/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('/fonts/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Pretendard-Regular', sans-serif;
}

.font-bold {
  font-family: 'Pretendard-Bold', sans-serif;
}
